{deps, [
    {cowboy, "2.9.0"}
]}.

{relx, [
    {release, {hello_docker, "0.1.0"}, [
        kernel,       % First
        stdlib,       % Second
        sasl,
        runtime_tools,
        cowboy,
        hello_docker  % Last
    ]},
    {include_erts, true},
    {dev_mode, false},
    {extended_start_script, true}
]}.


{profiles, [
    {prod, [
        {relx, [{include_src, false}]}
    ]}
]}.